.hero__wrapper {
  display: flex;
  justify-content: center;
}

.hero_content,
.hero__img {
  width: 50%;
}

.hero__content {
  padding-top: 40px;
}

.hero__content h2 {
  font-size: 3rem;
  line-height: 65px;
  color: black;
}

.hero__content p {
  margin-top: 40px;
  font-size: 1.1rem;
}

.highlight {
  color: var(--primary-color);
}

.hero__btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.primary__btn,
.secondary__btn {
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary__btn {
  background: var(--counter-section-bg);
  border: 1px solid var(--btn-primary-bg);
}

.secondary__btn {
  border: 1px solid #816aff;
  color: #090238;
  font-weight: 600;
}

a {
  font-weight: 500;
}
